/*  flex-direction: row-reverse;
    flex-direction: column;
_____________________________________________________________________________________
    justify-content: start;
    flex-start: aligns items to the start of the flex container. 
    For a row, this pushes the items to the left of the container. 
    For a column, this pushes the items to the top of the container. 
    This is the default alignment if no justify-content is specified.
_____________________________________________________________________________________
    justify-content: end;
    flex-end: aligns items to the end of the flex container. 
    For a row, this pushes the items to the right of the container. 
    For a column, this pushes the items to the bottom of the container.
_____________________________________________________________________________________    
    justify-content: space-evenly;
    space-evenly: Distributes space evenly between the flex items with a full 
    space at either end of the flex container
_____________________________________________________________________________________    
    justify-content: space-between;
    space-between: aligns items to the center of the main axis, 
    with extra space placed between the items. 
    The first and last items are pushed to the very edge of the flex container. 
    For example, in a row the first item is against the left side of the container, 
    the last item is against the right side of the container, 
    then the remaining space is distributed evenly among the other items.
___________________________________________________________________________________    
    justify-content: space-around;
    space-around: similar to space-between but the first and last items are not
    locked to the edges of the container, the space is distributed around all the
    items with a half space on either end of the flex container.
___________________________________________________________________________________    
    justify-content: center; 
    center: which aligns all the flex items to the center inside the flex container. 
    Other options include:
    */

p {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    border-top-style:solid;
}

.flex-box01  {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: start; 
}

.flex-box06 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-box02 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex-box03 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-box04 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-box05 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*

The different values available for align-items include:

    flex-start: aligns items to the start of the flex container. For rows, this aligns items to the top of the container. 
    For columns, this aligns items to the left of the container.

    flex-end: aligns items to the end of the flex container. For rows, this aligns items to the bottom of the container. 
    For columns, this aligns items to the right of the container.
    
    center: align items to the center. For rows, this vertically aligns items (equal space above and below the items). 
    For columns, this horizontally aligns them (equal space to the left and right of the items).
    
    stretch: stretch the items to fill the flex container. For example, rows items are stretched to fill the flex container top-to-bottom. 
    This is the default value if no align-items value is specified.
    
    baseline: align items to their baselines. Baseline is a text concept, think of it as the line that the letters sit on.

*/
.flex-box07 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.flex-box08 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-box09 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-box10 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 200px;
}

.flex-box11 {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 200px;
}

#box01 {
    background-color: rgb(219, 85, 85);
    height: 50px;
    width: 25%;
}

#box02 {
    background-color: rgb(101, 101, 216);
    height: 100px;
    width: 25%;
}

#box03 {
    background-color: rgb(93, 197, 93);
    height: 150px;
    width: 25%;
}

#box04 {
    background-color: rgb(231, 114, 221);
    height: 200px;
    width: 10%;
}

#stretch-box01 {
    background-color: rgb(212, 224, 99); 
}

#stretch-box02 {
    background-color: rgb(98, 223, 109); 
}

#stretch-box03 {
    background-color: rgb(96, 156, 233); 
}

#stretch-box04 {
    background-color: rgb(236, 83, 95); 
}

#base-box01 {
    background-color: rgb(241, 149, 115);
}

#base-box02 {
    background-color: rgb(240, 215, 105);
}

#base-box03 {
    background-color: rgb(92, 132, 241);
}

#base-box04 {
    background-color: rgb(223, 114, 217);
}

.align-div {
    border: 3px solid black;
    margin-top: 400px;
    font-size: 10px;
}